<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST APP</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">TOP</a>
      <a href="/list" class="header-logo">一覧</a>
      <a class="title1-logo">先導者</a>
    </header>
    <div class="container">
      <% var sum = 0; %>
      <%= guards.forEach((guard) => { sum = sum + guard.stock; }) %>
      <script>
        function clickBtn(){
          const list = []; 
          const chacks = document.getElementsByName("chack");
          for (let i = 0; i < chacks.length; i++){
		        if(chacks[i].checked){ 

			        list.push(chacks[i].value);
		        }
          }
          if(list == ''){
            list.push(0);
          }
          document.getElementById("select").setAttribute("href", document.getElementById("select").getAttribute("href") + list);
        };
      </script>
      <h3 class="sum">合計：<%= sum %>/50</h3>
      <div class="container-header">
        <a href="/new1" class="new-button">+ 新規登録</a>
        <a href="/selectdelete1/" class="delete-button" id="select" onclick="clickBtn()"/>選択削除</a>
        <a href="/alldelete1" class="delete-button">全削除</a>
      </div>
      <div class="list-table-wrapper">
        <div class="table-head">
          <span class="chack"></span>
          <span class="id-column">枚数</span>
          <span>名前</span>
        </div>
        <ul class="table-body">
          <% guards.forEach((guard) => { %>
            <li>
              <div class="data" name="aaa">
                <input type="checkbox" class="chack" name="chack" value="<%= guard.id %>">
                <span class="id-column"><%= guard.stock %></span>
                <span class="name-column"><%= guard.name %></span>
              </div>
              <div class="menu">
                <a href="/edit1/<%= guard.id %>">編集</a>
                <form action="/delete1/<%= guard.id %>" method="post">
                  <input type="submit" value="削除">
                </form>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>